/* ScrollStyles.module.css */

.wrap_content {
  margin-top: 100px;
}

header {
  width: 100%;
  height: 80px;
  background-color: #016eb7;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.2s;
}

.sticky {
  height: 50px;
  z-index: 999;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 28px;
  color: white;
  padding: 0 20px;
}

ul {
  display: flex;
  align-items: center;
}

.button_a {
  cursor: pointer;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.sticky_table {
  width: 800px;
  margin: 0 auto;
}

.heading {
  display: flex;
  background: #ededec;
}

.fixed {
  position: fixed;
  top: 50px;
  width: inherit;
  z-index: 9999;
}

.ins_content {
  display: flex;
  flex-wrap: wrap;
}

.ins_content > div {
  width: 150px;
  height: 100px;
  background-color: rgba(142, 193, 109, 0.7);
  margin: 5px;
}
